.Header {
  padding: 20px;
}

.Header-logo {
  height: 80px;
  margin: 2em auto;
  clear: both;
}

.Header-user {
float: left;
}

.Trading {
  margin-top: 2em;
  margin-bottom: 2em;
}

.Trading-tag {
  margin-left: 2em !important;
}

.Trading-total {
  float: right;
}

.Transactions-table {
  overflow-y: scroll;
}

.Transactions-table {
  max-height: 370px;
  overflow-y: auto;
}
